@import "../../utils";

.main, .historyCabinet {
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../../img/Main/cabinet_A.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .item_box {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;

    .sandwich_btn {
      position: absolute;
      right: 40px;
      top: 45px;
      z-index: 1000;
      cursor: pointer;

      img {
        width: 57px;
        height: 57px;

        @include smallMobile {
          width: 45px;
          height: 45px;
        }
      }
    }

    .diarys {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -28%);
      cursor: pointer;

      .diary_bg{
        //clip-path: polygon(1% 65%, 68% 30%, 100% 66%, 31% 100%);
        //background-color: white;
        position: relative;

        .fill {
          width: 220px;
          filter: opacity(.7) drop-shadow(0 0 0 blue);

          @include smallMobile {
            width: 180px;
          }
          @include tablet {
            width: 280px;
          }
          @include iPad_pro {
            width: 300px;
          }
        }

        .fill2 {
          @include smallMobile{
            margin-top: 20px;
            margin-left: -5px;
          }
          @include tablet {
            width: 310px;
            margin-top: -53px;
          }
          @include iPad_pro {
            width: 320px;
            margin-top: -55px;
          }
        }

        .fill1 {
          filter: opacity(.7) drop-shadow(0 0 0 blue);
          margin-left: -5px;
          @include smallMobile {
            width: 180px;
            margin-top: 20px;
          }
          @include tablet {
            width: 280px;
            margin-top: -20px;
          }
          @include iPad_pro {
            width: 320px;
            margin-top: -40px;
          }
        }

        .fill0 {
          filter: opacity(.7) drop-shadow(0 0 0 blue);
          @include smallMobile {
            width: 180px;
          }
          @include tablet {
            width: 280px;
          }
          @include iPad_pro {
            width: 320px;
          }
        }

        .diary_line {
          position: absolute;
          margin-top: -104px;
          margin-left: -7px;
          width: 220px;
          cursor: pointer;

          .line {
            z-index: 999;

            @include smallMobile {
              width: 190px;
              padding-top: 18px;
            }
            @include tablet {
              width: 310px;
              margin-top: -35px;
              margin-left: -2px;
            }
            @include iPad_pro {
              width: 330px;
              margin-top: -40px;
            }
          }

          .line0 {
            @include smallMobile {
              width: 172px;
              margin-top: -6px;
              margin-left: -3px;
            }
            @include tablet {
              width: 285px;
              padding-top: 5px;
            }
            @include iPad_pro {
              width: 310px;
            }
          }
          .line1 {
            @include smallMobile {
              width: 185px;
              margin-top: 5px;
            }
            @include tablet {
              padding-top: 5px;
            }
            @include iPad_pro {
              padding-top: 5px;
            }
          }

          .line2{
            @include smallMobile {
              margin-left: -5px;
            }
            @include tablet {
              width: 325px;
              margin-left: -3px;
            }
            @include iPad_pro {
              width: 335px;
              margin-top: -45px;
              margin-left: -3px;
            }
          }
        }
      }
    }
    .diary_bg:hover {
      box-shadow: 0 0 80px rgb(252, 252, 6);
      background-color: rgba(248, 248, 83, 0.4);
      border-radius: 80%;
      transform: scale(1);
    }

    .hourglass {
      position: absolute;
      top: 50%;
      height: 50%;
      width: 36%;

      .item_btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(15%);
        color: #f8e5e5;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 18px;
        text-shadow: -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black, 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black;
        cursor: pointer;
        z-index: 999;

        @include smallMobile {
          top: 65%;
        }
        @include tablet {
          left: 65%;
        }
        @include desktop {
          top: 65%;
          left: 61%;
        }
      }

      .item_btn:hover {
        box-shadow: 0 0 25px rgb(255, 255, 204);
        background-color: rgba(255, 255, 204, 0.4);
        border-radius: 40px;
        transform: scale(1);
      }
    }
    .bag {
      position: absolute;
      top: 50%;
      height: 50%;
      width: 100%;

      .item_btn {
        position: absolute;
        top: 45%;
        left: 65%;
        color: #f8e5e5;
        text-align: center;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 18px;
        text-shadow: -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black, 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black;
        cursor: pointer;
        transform: translate(15%);
        z-index: 999;
        @include smallMobile {
          top: 45%;
          left: 62%;
        }
        @include desktop {
          top: 60%;
          left: 65%;
        }
      }
      .item_btn:hover {
        box-shadow: 0 0 30px rgb(255, 255, 204);
        background-color: rgba(255, 255, 204, 0.4);
        border-radius: 20px;
        transform: scale(1);
      }
    }
  }

}

.historyCabinet {
  background-image: url("../../img/Main/cabinet_B.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .item_box {
    .diary_bg:hover {
      box-shadow: 0 0 30px rgb(255, 255, 204);
      background-color: rgba(255, 255, 204, 0.4);
      border-radius: 20px;
      transform: scale(1);
    }
  }
}