.next_btn {
  width: 215px;
  height: 56px;
  border: none;
  border-radius: 25px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #FF8B7B;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
}