@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.signup_label{
  padding-top: 14px;
  padding-bottom: 15px;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 35px;
}