.createDiaryDone {
  height: calc(var(--vh, 1vh) * 100);
  background-color: #FE614C;

  .donePopup {
    display: flex;
    justify-content: center;
    height: 95%;
    background-color: #FF8B7B;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;

    .doneTitle {
      font-family: 'Black Han Sans', sans-serif;
      font-size: 35px;
      font-weight: 500;
    }
  }
}