@import '../../utils';

.createDiaryDone, .diaryPreparing, .sendDiaryDone, .emotion_report {
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #FE614C;
    height: 100%;
  }

  .done_popup {
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    //height: calc(var(--vh, 1vh) * 100 );
    background-image: url("../../img/Diarys/done_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1000;

    .img_box {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      @include shortHeight{
        margin-top: 10px;
      }
      img {
        width: 270px;
        @include shortHeight {
          width: 250px;
        }
      }
      .envelope_img {
        width: 250px;
        @include shortHeight{
          width: 150px;
        }
        @include  smallMobile{
          width: 150px;
        }
      }
      .done_img {
        margin-top: 30px;
        @include smallMobile{
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .done_titles {
      display: flex;
      flex-direction: column;
      img {
        width: 120px;
        margin-left: -50px;
        margin-bottom: -5px;
        @include smallMobile{
          margin-left: -20px;
          width: 100px;
        }
      }
      .done_title_emotion {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2.7rem;
        font-weight: 500;
        word-break: keep-all;
        @include smallMobile {
          font-size: 2.7rem;
        }
      }
    }
    .done_title {
      text-align: center;
      font-family: 'Black Han Sans', sans-serif;
      font-size: 40px;
      font-weight: 500;
    }

    .done_explains {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .done_explain {
        text-align: center;
        font-size: 16px;
        font-weight: 800;
      }
      @include smallMobile {
        //margin-top: 20px;
      }
    }



    .invitation {
      width: 100%;

      .invitation_explain {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .invitation_title {
          font-size: 20px;
          font-weight: 800;
        }

        .invitation_text {
          margin-top: 10px;
          font-size: 13px;
          font-weight: 500;
        }

        .invitation_input {
          width: 275px;
          height: 45px;
          margin-top: 10px;
          margin-bottom: 25px;
          padding-left: 10px;
          border: none;
          border-radius: 10px;
          background-color: #FF9F92;
        }

        .invitation_input:focus {
          outline: none;
        }

        .invitation_code {
          width: 300px;
          height: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 10px;
          border: none;
          border-radius: 10px;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          background-color: #FF9F92;
          word-break: break-all;
          @include shortHeight{
            height: 60px;
            margin-bottom: 10px;
          }
        }

        .invitation_btn {
          width: 80px;
          height: 30px;
          border: none;
          border-radius: 20px;
          color: white;
          background-color: #FE614C;
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 13px;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }

    .go_btn {
      position: absolute;
      bottom: 100px;
      width: 180px;
      height: 40px;
      padding: 7px 15px;
      justify-content: center;
      border: none;
      border-radius: 15px;
      color: white;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 14px;
      font-weight: 600;
      background-color: #FE614C;
      cursor: pointer;
    }

    .doneCancel_btn {
      display: flex;
      position: absolute;
      bottom: 10px;

      justify-content: center;
      height: 30px;
      .cancel_btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      @include smallMobile {
        bottom: 3vh;
      }
      @include longHeight {
        //bottom: -15vh;
      }
    }

    .emotions{
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 100px;
      @include smallMobile{
        margin-bottom: 30px;
      }
      .emotion {
        display: flex;
        align-items: center;
        gap: 7px;
        color: white;
        font-size: 1.3rem;
        @include smallMobile {
          font-size: 1.2rem;
        }
        .emotion_bar {
          -webkit-appearance: none;
          height: 4.5vh;
          width: calc(500px * 0.65);
        }
        progress::-webkit-progress-bar {
          border-radius: 15px;
          background-color: white;
        }
        progress::-webkit-progress-value {
          border-radius: 15px;
          background-color: #FFE68D;
        }
        .color2::-webkit-progress-value {
            background-color: #9DD5B0;
        }
        .color3::-webkit-progress-value {
          background-color: #8CD0CA;
        }
        .color4::-webkit-progress-value {
          background-color: #9A6A6A;
        }
        .color5::-webkit-progress-value {
          background-color: #9580A5;
        }
        .color6::-webkit-progress-value {
          background-color: #E47A6C;
        }
      }
    }
    .done_blank {
      width: 100%;
      height: 30px;
    }
  }
}

.emotion_report {
  position: relative;
}
.invitation_btn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #FE614C;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.report_summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 21px;
  font-weight: 800;
  .emotion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
}

.emotion_done_titles {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  img {
    width: 160px;
    margin-left: -60px;
    margin-bottom: -40px;
    @include smallMobile {
      margin-left: -20px;
      width: 100px;
    }
  }
  .done_title_emotion {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    word-break: break-all;
    @include smallMobile {
      font-size: 2.7rem;
    }
  }
  .right{
    text-align: center;
  }
}

#kakaotalk-sharing-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-image: url("https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.kakao_text {
  width: 140px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
//.absolute {
//  position: absolute;
//  right: 80px;
//}

.copy_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #FE614C;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.match_cancel_btn {
  width: 100px;
  height: 35px;
  border: none;
  background-color: transparent;
  text-decoration: underline 1px solid black;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}