@import "../../_utils";

@mixin diary_btn {
  width: 60%;
  height: 65px;
  border: none;
  color: #D6CBCB;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #FFF2F2;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.new_diary {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100 - 443px);
  padding-top: 70px;

  .question_text {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    font-size: 17px;
    font-weight: 800;

    @include notDesktop {

      //@include smallMobile {
      //  padding: 35px 0;
      //  font-size: 15px;
      //}
    }
  }

  .newDiary_btns {
    height: 130px;
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;

    .newDiary_btn_L{
      @include diary_btn;
      position: absolute;
      left: 0;
      text-align: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .newDiary_btn_R{
      @include diary_btn;
      display: inline-block;
      position: absolute;
      right: 0;
      margin-top: 50px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      white-space: nowrap;

    }
    .newDiary_btn_L_left {
      width: 65%;
      color: black;
      font-weight: 800;
      background-color: #FFB4AA;
      z-index: 300;
    }
    .newDiary_btn_R_right{
      width: 65%;
      color: black;
      font-weight: 800;
      background-color: #FFB4AA;
      z-index: 300;
    }
  }

  .newDiary_explain {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    @include notDesktop {
      @include mobile {
        width: calc(var(--vw, 1vw) * 100);
      }
      @include smallMobile {
        margin-top: 20px;
      }
    }

    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -70px;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: white;
      filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
      z-index: 200;
    }

    .explain_bg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: auto;
      padding: 63px 50px;
      background-color: #FF8B7B;
      @include smallMobile {
        top: 80px;
        padding: 35px 30px 20px 30px;
      }

      .title {
        margin-top: 30px;
        font-size: 15px;
        font-weight: 600;
      }
      .explain {
        height: 60px;
        padding: 0 65px;
        margin: 20px 0 40px 0;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        word-break: keep-all;
        @include smallMobile {
          font-size: 13px;
          margin-bottom: 15px;
        }
      }
    }
  }
}