.read_diary, .write_diary, .send_diary {
  padding: 0 30px;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../../img/Diarys/read_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .indexes {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 70px;
    margin-left: 10px;

    .index {
      display: flex;
      align-items: center;
      width: 90px;
      height: 43px;
      justify-content: center;
      border-radius: 13px 13px 0 0;
      color: white;
      font-family: 'Black Han Sans', sans-serif;
      font-size: 18px;
      background-color: #D47B6F;
    }
    .left {
      margin-top: 20px;
    }
    .center {
      margin-top: 10px;
    }
    .index_clicked {
      background-color: #FF8B7B;
    }
  }
  .date_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 70px;
    .date {
      font-family: 'Black Han Sans', sans-serif;
      font-size: 30px;
    }
    .time {
      text-align: center;
      font-family: 'Black Han Sans', sans-serif;
      font-size: 18px;
    }
    img {
      width: 32px;
      height: 37px;
    }
  }
  .diaryInput_box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .diary_input {
      width: 100%;
      height: calc(var(--vh, 1vh) * 60);
      border: none;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0.57px;
      resize: none;
    }
    .diary_input:focus {
      outline: none;
    }
  }
}

.btn_container {
  display: flex;
  justify-content: center;

  .return_btn {
    display: flex;
    position: fixed;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 43px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #FF8B7B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    z-index: 1000;
  }
}