.report_graph {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  gap: 35px;
  padding: 25px 20px 0 20px;
  width: 360px;
  height: 370px;
  border-radius: 10px;
  background-color: #FFA295;

  .text_label {
    font-size: 17px;
    font-weight: 800;
    padding: 0;
    text-align: center;
  }
  .chart {
    display: flex;
    gap: 15px;
    justify-content: center;


      .stick {
        position: relative;
        width: 55px;
        height: 320px;
        border-radius: 30px 30px 5px 5px;
        background-color: #FFF2F2;
        .percent {
          position: absolute;
          bottom: 0;
          width: 55px;
          border-radius: 30px 30px 5px 5px;
        }
      }
      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -25px;
        top: -5px;
        width: 110px;
        height: 25px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        color: #313131;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 14px;
        white-space: nowrap;
        visibility: hidden;
        z-index: 500;
      }
  }

}
.diary_blank {

}

.doneCancel_btn {
  display: flex;
  position: absolute;
  bottom: 10px;
  justify-content: center;
  height: 30px;

  .cancel_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}