$smallMobile: 391px;
$mobile: 767px;
$tablet: 1023px;
$desktop:1024px;

@mixin smallMobile {
  @media (max-width: $smallMobile){
    @content;
  }
}

@mixin mobile{
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet{
  @media (min-width: $mobile+1) and (max-width: $tablet) {
    @content;
  }
}

@mixin iPad_pro{
  @media (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop{
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin longHeight {
  @media (min-height: 670px) {
    @content;
  }
}

@mixin shortHeight {
  @media (max-height: 669px) {
    @content;
  }
}