.announcement_content {
    padding-top: 90px;
    margin:0 35px;

    .announcement_title {
        font-size: 17px;
        font-weight: 500;
    }

    .announcement_date {
        margin-top: 10px;
        margin-bottom: 35px;
        font-size: 14px;
    }

    .announcement_text {
        font-size: 15px;
        font-weight: 400;
    }
}