.counter {
    display: flex;
    justify-content: right;
    margin: 10px 40px 16px 40px;
    font-size: 13px;
}

.select_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;

    .select {
        height: 50px;
        //@if (calc(var(--vw, 1vw) * 100) < 400) {
        //    padding-left: 4vw;
        //    padding-right: 4vw;
        //}
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 10px;
        font-size: 14px;
        background-color: #F5F5F5;
    }

    .select:focus{
        outline: none;
    }

    .option {
        font-size: 14px;
        background-color: #747474;
    }

    .ymd {
        margin-left: 1px;
        margin-right: 2px;
    }
}






