@mixin input {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #F5F5F5;
}

.counter {
    display: flex;
    justify-content: right;
    margin: 10px 40px 16px 40px;
    font-size: 13px;
}

.datePicker {
    @include input;
    height: 50px;
    min-width: 406px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.datePicker:focus {
    outline: none;
}



