.user_report {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
select {
  background-color: #F5F5F5;
  min-width: 436px;
  height: 50px;
  margin: 0 30px;
  padding: 1px 15px;
  border: none;
  border-radius: 10px;

  .option {
    background-color:#F5F5F5;
    min-height: 1.5rem;
  }
  .option:hover {
    background-color: #FFB4AA;
  }
}

.btn_label{
  display: flex;

  .picUpload_btn {
    width: 50px;
    height: 50px;
    margin-left: 32px;
    cursor: pointer;
  }

  .file_url {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
  }
}

.input_container {
  .input_other {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 0 15px;
    border: none;
    border-bottom: solid #747474 1px;
  }
  .input_other:focus {
    outline: none;
  }
}

.radio_btns {
  display: flex;
  gap: 20px;
  margin: 5px 0 10px 30px;
}