.withdrawal_explain{
  margin: 0 32px;
  font-size: 16px;
  font-weight: 600;
}

span {
  color: #FE614C;
  font-weight: 700;
}

.Btn {
  position: absolute;
  bottom: 80px;
  width: 100%;

  .final_label {
    margin: 0 32px;
    font-weight: 700;
  }
}

